:root {
    --bodyBackground: #0d1117;
    --encryptBtnBack: linear-gradient(to right, #122afe, #b631d1);
    --decryptBtnBack: linear-gradient(to right, #b631d1, #122afe);
    --borderColor: rgb(14, 38, 54);
    --descButtonBack: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --txtAreaBack: linear-gradient(to left, #52565c, #2c3446);
    --footerColor: #4894ce;
}

html {
    background: black;
    height: 100%;
    overflow: hidden;
}

/* body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Matrix rain canvas background */
#Matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    /* Allows clicks to pass through the canvas to elements underneath */
}


body {
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}



.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 85vh;
    padding: 0;
    margin: auto;
    max-width: 100vw;
    max-height: 100vh;
}

.logo {
    width: 36px;
    height: 38px;
}

.headline {
    display: flex;
    justify-content: center;
    background-image: radial-gradient(rgb(225, 0, 255), rgb(0, 195, 255));
    color: transparent;
    background-clip: text;
    animation-delay: 1s;
    letter-spacing: 7px;
    text-shadow: 0 0 15px rgba(0, 255, 204, 0.5);
}


.zifra {
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 45px;
    font-style: oblique;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}

.nav {
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    float: left;
}

ul {
    list-style-type: none;
}

nav ul .how {
    float: right;
    background: var(--howBtnColor);
    color: #fff;
}

.logo,
.how {
    margin: 5px 5px 0px 5px;
}

#descBtn,
#descBtnMob1,
#descBtnMob2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    outline: none;
    height: 43px;
    width: 138px;
    border: none;
    text-decoration: none;
    background: var(--descButtonBack);
    border-radius: 5px;
}

#descBtn:hover,
#descBtnMob1:hover,
#descBtnMob2:hover {
    animation: rotate 0.4s linear infinite;
}

@keyframes rotate {
    100% {
        filter: hue-rotate(-360deg)
    }
}

#descBtn span,
#descBtnMob1 span,
#descBtnMob2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 130px;
    background: #222222;
    font-size: 16px;
}

.encrypt,
.decrypt {
    display: flex;
    flex-direction: column;
}

.enc {
    background: var(--encryptBtnBack);
}

.dec {
    background: var(--decryptBtnBack);
}

.enc,
.dec {
    width: 9em;
    height: 35px;
    border-radius: 23px;
    color: #fff;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.enc:hover,
.dec:hover {
    background: linear-gradient(rgb(103, 9, 116), rgb(12, 85, 107));
    transition: 200ms linear;
}

.enc:before,
.dec:before {
    content: '';
    position: absolute;
    height: 70px;
    width: 10px;
    background: #f3f3f3;
    box-shadow: 0 0 10px #fff;
    filter: blur(1px);
    opacity: 0.9;
    top: -30px;
    transition: 0.5s;
    transform: rotate(-25deg) translateX(-45px);
}

/* Animation delays */
.txt-area-one {
    animation-delay: .2s;
}

.txt-area-two {
    animation-delay: .4s;
}

.txt-area-three {
    animation-delay: .6s;
}

.txt-area-four {
    animation-delay: .8s;
}

.buttons-one {
    animation-delay: 1.2s;
}

.buttons-two {
    animation-delay: 1.4s;
}

.buttons-three {
    animation-delay: 1.6s;
}

.buttons-four {
    animation-delay: 1.8s;
}

button:hover:before {
    transform: rotate(-20deg) translate(110px, 45px);
}

textarea {
    height: 24vh;
    width: 35vw;
    background: var(--txtAreaBack);
    color: white;
    border-radius: 8px;
    border: 3px solid transparent;
    margin: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.123);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.048);
    caret-color: white;
    transition: transform .2s;
    cursor: crosshair;
}

select {
    background: var(--decryptBtnBack);
    color: #fff;
    border-radius: 24px;
    height: 33px;
    cursor: pointer;
}

#decrypter-select {
    background: var(--encryptBtnBack);
}

#decrypter-select:hover,
#encrypter-select:hover,
select option {
    background: #3C3C3C;
    color: #03fce7;
    box-shadow: 1px 1px 12px 1px var(--footerColor);
    transition: ease-in 0.2s;
}

textarea::placeholder {
    color: #03fce7b9;
    ;
    opacity: .8;
}

.num {
    width: 114px;
    height: 35px;
    background: #3C3C3C;
    color: #fff;
    border-radius: 5px;
    border: 2px solid var(--borderColor)
}

#description {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: 5%;
    height: auto;
    width: auto;
    background: var(--txtAreaBack);
    color: white;
    background: var(--txtAreaBack) padding-box, linear-gradient(to left, #4894ce, rgb(147, 82, 150)) border-box;
    border-radius: 8px;
    border: 4px solid transparent;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol {
    margin-left: 15px;
    margin-top: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3C3C3C;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: rgb(1, 128, 1);
    box-shadow: 1px 1px 15px 1px lawngreen;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
}

.slider:after {
    content: 'HIDE METHOD';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 53%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.slider:after {
    content: 'SHOW METHOD';
}

.switchEnc {
    display: inline-flex;
}

/* .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F0;
    background-color: #000000;
    font-size: 15px;
    bottom: 0;
    position: relative;
    width: 100%;
    height: 2.5rem;
    position: absolute;
} */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F0;
    background-color: #000000;
    font-size: 15px;
    width: 100%;
    height: 2.5rem;
    position: relative;
    /* Remove the duplicate absolute positioning */
    margin-top: auto;
    /* Pushes footer to the bottom if flex column has space */
}

.svg {
    color: #0F0;
    margin: 2px;
}

.svg:hover,
a:hover {
    color: rgb(29, 185, 206);
    filter: drop-shadow(#4444dd 1px 1px 2px);
    zoom: 1.1;
    transition: ease-in 0.12s;
}

.mobile {
    display: none;
}

.copy-paste {
    margin-bottom: 10px;
    float: right;
    padding-left: 5px;
    cursor: pointer;
    transition: transform .2s;
}

.copy-paste:hover {
    -ms-transform: scale(1.23);
    -webkit-transform: scale(1.23);
    transform: scale(1.23);
}

/* Copy/paste/delete size */
img {
    width: 23px;
    height: 23px;
}

.copy-paste {
    background: transparent;
    border: #0d1117;
}



@media (width <=1000px) {

    #descBtn,
    #descBtnMob1,
    #descBtnMob2 {
        height: 38px;
        width: 120px;
    }

    #descBtn span,
    #descBtnMob1 span,
    #descBtnMob2 span {
        height: 30px;
        width: 112px;
        font-size: 14px;
    }

    /* Scale down Encrypt/Decrypt action buttons */
    .enc,
    .dec {
        width: 7.5em;
        height: 32px;
        font-size: 14px;
    }

    select {
        height: 30px;
        font-size: 14px;
    }

    html {
        overflow: auto;
    }

    body {
        overflow: visible;
    }

    .content {
        flex-direction: column;
    }

    .nav {
        margin-bottom: 5%;
        max-width: 98vw;
    }

    .encrypt,
    .decrypt {
        margin-bottom: 20px;
    }

    .switchEnc {
        flex-direction: column-reverse;
    }

    textarea {
        width: 95vw;
        height: 22vh;
    }

    #encrypter-select,
    #decrypter-select {
        position: relative;
        width: 120px;
    }

    .how {
        transform: scale3d(0.8, 0.8, 1);
    }

    #description {
        margin-top: 15%;
        width: 95%;
        height: auto;
    }

    .mobile {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .logo,
    .decrypt {
        display: none;
    }

    .headline {
        float: left;
        font-size: 8px;
        display: flex;
        flex-direction: column;
        margin-top: -5px;
    }

    .zifra {
        font-size: 27px;
    }

    .footer {
        margin-top: 5%;
        position: relative;
    }
}

@media (min-width: 1001px) and (max-width: 1600px) {
    html {
        overflow: auto;
    }

    textarea {
        width: 47dvw;
        height: 25dvh;
    }
}